$fontSize: 1.5em;

header{
    background-color: $themeColor;
    width: 100%;
    padding: 2rem;

    h1{
        font-size: $fontSize;
        margin-bottom: 10px;

        i{
            font-size: $fontSize;
        }
    }
}