nav{
    background-color: $themeColor;

    ul{
        display: flex;
        padding-left: 3rem;

        li{
            padding: 0.5rem 0.75rem;

            a{
                color: #C4C4C4;
                text-decoration: none;
                font-size: 1.3em;

                &:hover{
                    color: yellow;
                }

                i{
                    font-size: 1.2em;
                }
            }            
        }
    }
}